{% extends "layout.html" %}

{% block check %}
    <section class="hero">
      <div class="hero-container">
        <div class="hero-content">
          <h1 class="hero-title">Available Vinyls</h1>
        </div>
      </div>
    </section>

{% if available %}

{% for vinyl_img in availableVinyls %}
<div style="text-align: center">
    <h1>In Stock! </h1>
  {% set playlistImgUrl = 'https://mosaic.scdn.co/640/' ~ vinyl_img %}
<img src={{playlistImgUrl}} height="240px" width="240px">
    {% set check_url_full = (check_url ~ '/' ~ vinyl_img) %}
    <center><a href={{check_url_full}}><button class="hero-button">Select Vinyl For Purchase</button></a></center>
</div>
{% endfor %}

{% else %}

<center><h1>No Vinyls In Stock By {{artistName}}</h1></center>
<br>
<br>
<br>
<br>
<br>
<center><a href={{home_url}}><button class="hero-button">Go Back To Log In</button></a></center>
<br>
<br>
<br>
<br>
<br>


{% endif %}

{% endblock %}
