{% extends "layout.html" %}

{% block cardCSS %}
      <link rel="stylesheet" href="{{ url_for('static', filename='styles/shipping.css') }}" />

{% endblock %}

{% block shipping %}

<section class="hero">
      <div class="hero-container">
        <div class="hero-content">
          <h1 class="hero-title">Please Enter Your Phone Number and Email Address</h1>
          <div class="terms">
          </div>
        </div>
      </div>
    </section>


<div class="container">
  <h1>Notification Details</h1>
  <p>We will notify you when the vinyl is in stock</p>

  <div class="form-body">
        <form method = "POST" action= "" >
          {{ form.hidden_tag() }}
          <fieldset class = "form-group">
            <legend> Please enter details</legend>
            <div class="form-group">
              {{ form.email.label }}
              {{ form.email(class="field__input") }}

            </div>

            <div class=form-group">
              {{ form.phone_number.label }}
              {{ form.phone_number(class="field__input") }}

            </div>


          </fieldset>

           <div>

              {{ form.submit(class="hero-button") }}

            </div>




        </form>
      </div>
</div>


{% endblock %}
