{% extends "layout.html" %}


{% block loginForm %}
    <section class="hero">
        <div class="hero-container">
            <div class="hero-content">
                <h1 class="hero-title">Sign In.</h1>
                <div class="top"></div>
                <br><input class = "intext" type="text" id="username" name="username" placeholder="Email address"> <br>
                <input class = "intext" type="text" id="password" name="password" placeholder="Password"><br><br>
                <input class="hero-button" type="submit" value="LOG IN">
            </div>
        </div>
        </div>
    </section>


{% endblock %}
