{% extends "layout.html" %}

{% block success %}


<section class="hero">
      <div class="hero-container">
        <div class="hero-content">
          <h1 class="hero-title">Request Successfully Received</h1>
          <div class="terms">
          </div>
        </div>
      </div>
    </section>

<div style="text-align: center;">
  <h1> We will notify you when the vinyl has come into our store! </h1>
  <h2> Thank you for using our service! </h2>

    <a href={{home_url}}><button>Go Back To Log In</button></a>
</div>
{% endblock %}

