{% extends "layout.html" %}

{% block success %}


<section class="hero">
      <div class="hero-container">
        <div class="hero-content">
          <h1 class="hero-title">Payment Successfully Received</h1>
          <div class="terms">
          </div>
        </div>
      </div>
    </section>

<div style="text-align: center;">
  <h1> Your Vinyl is expected to come in 3-5 working days.</h1>
  <h2> Enjoy and please come again! </h2>

    <a href={{home_url}}><button>Go Back To Log In</button></a>
</div>
{% endblock %}

