{% extends "layout.html" %}

{% block check %}
    <section class="hero">
      <div class="hero-container">
        <div class="hero-content">
          <h1 class="hero-title">Check Availability</h1>
        </div>
      </div>
    </section>

{% if available %}
<div style="text-align: center">
  <br>
  <br>
  <br>
  <h1> Album Is Available! </h1>
  {% set playlistImgUrl = 'https://mosaic.scdn.co/640/' ~ playlist_img %}
<img src={{playlistImgUrl}} height="240px" width="240px">
  <h2> Price: €30 </h2>
  <a href={{shipping_url}}><button class="hero-button">Order For Delivery</button></a>
  <br>
  <br>
  <br>
  <a href={{card_url}}><button class="hero-button">Order For Collection</button></a>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
</div>
{% else %}
<div style="text-align: center">
  <h1> Album Is Not Available - Would you like to request it? </h1>
  {% set playlistImgUrl = 'https://mosaic.scdn.co/640/' ~ playlist_img %}
<img src={{playlistImgUrl}} height="240px" width="240px">
  <h2> Price: €30 </h2>
  <a href={{request_url}}><button class="hero-button">Request Vinyl</button></a>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
</div>
{% endif %}

{% endblock %}
